/* CadPedido */
.content_form .divisoria::before{
  content: '';
  display: inline-block;
  margin: 0 10px 5px 0;
  width: 170px;
  height: 5px;
  background: var(--primary-color);
}

.content_form-cliente,
.content_form-pedido{
  margin-top: 20px;
  width: 750px;
  gap: 20px;
}
.content_form-cliente{
  width: 560px;
}

.content_form-cliente .nome{
  width: 100%;
}
.content_form-cliente .data{
  width: 45%;
}

/* Produto */
.produto_content{
  padding: 10px;
  width: 750px;
  height: 115px;
  border-radius: 10px;
  gap: 15px;
  background: rgba(27, 27, 27, 0.46);
}

.produto_input{
  width: 20%;
}

.produto_lixeira img{
  height: 25px;
}