/* MODAL */
.content_modal{
  height: 400px;
}

#nome__Modelo{
  margin-right: 20px;
  width: 45%;
}
#valor__Modelo{
  width: 25%;
}

/* Upload */
.upload-area, .new-upload-area{
  border-radius: 5px;
  padding: 10px;
  height: 45%;
  background: var(--second-grayscale);
}

.upload-area_border{
  border: 5px dashed var(--input-color);
  height: 100%;
  width: 100%;
}

.upload-area_border p{
  height: 24px;
  font-size: 1.5rem;
  color: var(--input-color);
}

.upload-produto_img{
  border: 5px dashed var(--input-color);
  height: 100%;
  width: 100%;
}

.upload-produto_img img{
  height: 110px;
}

.upload-produto_alterar-img{
  margin: 15px 0;
  border: 0;
  background: transparent;
  color: var(--input-color);
}

.upload-produto_alterar-img:hover{
  color: var(--bg-input-color);
}

/* CARDS */
.card-produto{
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: var(--second-grayscale);
}

.card-produto_img{
  border-radius: 5px;
  padding: 10px;
  height: 110px;
  width: 110px;
  background: var(--light-color);
}

.content_card-produto{
  width: 110px;
  height: 65%;
}

.content_card-produto h3,
.content_card-produto p{
  margin: 0;
  font-size: 1.1rem;
}

/* Media Query */
@media (max-width:969px){
  .content_card-produto{
    width: 150px;
    height: 65%;
  }
}