/* Pesquisa */
.search{
  margin: 3% 0;
  display: flex;
  justify-content: center;
}

#barraBusca{
  width: 680px;
  height: 45px;
  border: 1px solid #494949;
  border-radius: 10px 0 0 10px;
}

.btnBuscar{
  width: 45px;
  height: 45px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 0 10px 10px 0px;
}

.filtro_listagens{
  position: relative;
}

.filtro_popover{
  display: none;
  border: 0;
  width: 165px;
  height: 92px;
  position: absolute;
}

.filtro_popover ul::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: -5px;
  z-index: -1;
  background: var(--second-grayscale);
  transform: rotate(45deg);
}

.filtro_popover ul li{
  display: flex;
  list-style: none;
  background: var(--second-grayscale);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.filtro_popover ul li:first-child{
  border-bottom: 2px solid var(--first-grayscale);
  border-radius: 10px 10px 0 0;
}
.filtro_popover ul li:last-child{
  border-radius: 0 0 10px 10px;
}

.filtro_popover ul li:active{
  background-color: var(--first-grayscale);
}

.filtro_popover ul li a{
  width: 100%;
  height: 45px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  line-height: 2.2;
  color: var(--light-color);
}

/* Cards */
.card-pedidos{
  margin-top: 20px;
  width: 1006px;
  border: 1px solid var(--background-color);
}

.nomeClie{
  margin: 5px 0;
  width: 50%;
  font-size: 20px;
}

.data{
  margin: 0;
  font-size: 20px;
}

.imgData{
  position: relative;
  margin-left: 10px;
}

.icons{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 2px solid var(--background-color);
  border-left: 2px solid var(--background-color);
}

.caneta{
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  left: -2%;
}

.lixeira{
  display: flex;
  position: relative;
  width: 35px;
  height: 35px;
  left: 5%;
}

#status{
  background-color: var(--first-grayscale);
  padding: 0 10px;
  height: 45px;
  width: 374px;
  border-radius: 0 5px 0 0;
}

.etapa{
  position: relative;
  font-size: 20px;
  margin: 0;
}

.etapaImg{
  left: 19%;
}

.card-body{
  display: flex;
  width: 100%;
  min-height: 160px;
  justify-content: space-between;
  padding: 0;
}

.card-header{
  height: 45px;
  width: 100%;
  display: flex;
  background-color: var(--second-grayscale);
  color: var(--light-color);
  padding: 0;
  border-radius: 5px 5px 0 0!important;
}

.cabecalho{
  padding: 0 10px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--background-color);
}

.card-header .cabecalho div{
  display: flex;
  align-items: center;
}

.card-title{
  color: var(--light-color);
  width: 335px;
  background-color: var(--second-grayscale);
  margin: 0;
  text-align: center;
}

.card-title h3{
  height: 40px;
  line-height: 1.7;
  font-size: 1.5rem;
  margin: 0;
}

h3{
  border-bottom: 2px solid var(--background-color);
}

.card-title:nth-child(1){
  border-radius: 0 0 0 5px;
  border-right: 2px solid var(--background-color);
}

.card-title:nth-child(3){
  border-radius: 0 0 5px 0;
  border-left: 2px solid var(--background-color);
}

.card-text{
  color: var(--light-color);
  width: 100%;
  font-size: 28px;
}

.cardInfo{
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Modal */

.modal{
  display: flex;
  width: 980px;
  height: 463px;
  justify-content: space-between;
  background-color: var(--background-color);
  border-radius: 10px;
  margin: 10% 20%;
}

.container_modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  justify-content: center;
  background: var(--bg-input-color);
}

.parteEsq{
  position: relative;
  left: 5%;
  font-size: 24px;
}

.tituloEsq{
  color: var(--primary-color);
  border-bottom: 2px dashed #898989;
  margin: 35px -10px;

}

.atributo{
  margin: 10px;
  color: var(--light-color);
}

.parteDir{
  display: flex;
  border-left: 2px dashed #898989;
  position: relative;
  font-size: 24px;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.etapas{
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
}

.linha{
  margin: 35px;
  background-color: #898989;
  width: 500px;
  height: 6px;
  border-color: #898989;
  border-style: none;
  position: relative;
  left: 25px;
}

.circEtapas{
  margin: -10px;
  display: flex;
  justify-content: space-between;    
}

.circulo{   
  background-color:#898989;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.etapaPag p, .etapaArt p, .etapaProd p, .etapaEnvio p{
  color: #898989;
  font-size: 18px;
  margin-top: -4px;
}

.etapa{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.etapaPag{
  margin-left: 12px;
}

.etapaEnvio{
  margin-right: 15px;
}

.fechar{
  position: absolute;
  top: 3%;
  left: 92%;
  z-index: 5;
  width: 10%;
  height: 5%;
  color: var(--secondary-color);
}

.dirInferior{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px dashed #898989;
  height: 200px;
}

.descEtapas{
  color: #A3A3A3;
  font-size: 20px;
  border-left: 5px solid #898989;
  left: 40px;
  top: -40px;
  position: relative;
}

.descEtapas p{
  margin: 0 10px;
}

.hrDt{
  display: flex;
  justify-content: space-between;
}

.endereco{
  width: 290px;
  border-left: 2px dashed #898989;
  padding: 0;
  position: relative;
  left: -40px;
  top: 20px;
  display: flex;
  flex-direction: column;
} 

.infos{
  margin-left: 20px;
}

.endereco .infos h3 {
  margin: 2px;
  color: var(--secondary-color);
  font-size: 22px;
}

.endereco .infos p {
  margin: 2px 2px;
  color: var(--light-color);
  font-size: 20px;
}

.ruaInfo, .numeroInfo, .bairroInfo, .cidadeInfo, .cepInfo, .complementoInfo{
  display: flex;
}