.content_form .divisoria::before{
  content: '';
  display: inline-block;
  margin: 0 10px 5px 0;
  width: 170px;
  height: 5px;
  background: var(--primary-color);
}

.content_form-cliente,
.content_form-pedido{
  margin-top: 20px;
  width: 750px;
  gap: 20px;
  position: relative;
}
.content_form-cliente{
  width: 560px;
}

.content_form-cliente input{
  width: 100%;
}
.content_form-cliente .data{
  width: 45%;
}

/* Info Cliente */
.infomacao_cliente{
  padding: 15px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--second-grayscale);
  position: relative;
}

.content_infomacao_cliente{
  width: 85%;
}

.infomacao_cliente h3{
  font-size: 1.2rem;
}
.infomacao_cliente p{
  margin-bottom: 5px;
  font-size: 1rem;
}
.infomacao_cliente .compl{
  min-width: 190px;
}
.infomacao_cliente .endereco{
  height: 50px;
}

/* Btn Alterar Cliente */
.editCliente{
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  right: 15px;
  top: 15px;
  color: var(--primary-color);
}

.editCliente img{
  height: 20px;
  margin-left: 5px;
}

.editCliente span{
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.editCliente:hover span{
  width: 65px;
}

/* Produto */
.produto_title span{
  margin-right: 15px;
}

.produto_content{
  margin-bottom: 15px;
  padding: 10px;
  width: 750px;
  height: 115px;
  border-radius: 10px;
  gap: 15px;
  background: rgba(27, 27, 27, 0.46);
}

.produto_input{
  width: 20%;
}

.produto_lixeira img{
  height: 25px;
}
.produto_lixeira img:hover{
  filter: brightness(70%);
}

#nomeFrag{
  width: 75%;
}

/* Listagem Input */
.listagem_items{
  padding: 5px 0;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  background: var(--second-grayscale);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.listagem_items ul{
  margin: 0;
  padding: 0;
  min-width: 450px;
  list-style: none;
  top: 40px;
  border-radius: 5px;
}

.listagem_items ul li{
  padding: 0 10px;
  min-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid var(--background-color);
  font-family: 'Mukta', sans-serif;
  cursor: pointer;
}

.listagem_items ul li:last-child{
  border: 0;
}

.listagem_items ul li:hover{
  background-color: var(--first-grayscale);
}

#resultPesquisaCli{
  top: 105px;
}

#resultPesquisaFrag{
  top: 230px;
}