.search{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

#barraBusca{
    width: 700px;
    height: 45px;
    border: 1px solid #494949;
    border-radius: 10px;
}

.btnBuscar{
    width: 45px;
    height: 45px;
    position: relative; 
    left: -5%;  
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 0 10px 10px 0px;
}

.imgFilter{
    position: relative;
    top: -7px;
    left: -5%;
}

.card{
    background: var(--second-grayscale);
    min-height: 120px;
    color: var(--light-color);
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-body{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.coluna:nth-child(1){
    width: 400px;
}

.coluna:nth-child(1)>h3{
    margin: 5px 10px;
    font-size: 24px;
    word-break: break-all;
}

.coluna:nth-child(1)>h5{
    margin: 5px 10px;
    word-break: break-all;
    font-size: 20px;
}

.coluna:nth-child(2){
    border-left: 3px solid #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    width: 190px;
}

.coluna:nth-child(2)>p{
    margin: 10px 10px;
    font-size: 16px;
}

.coluna:nth-child(3){
    border-left: 3px solid #333333;
    width: 400px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    padding-top: 10px;
}

.coluna:nth-child(3)>.infoBaixo{
    margin: 0 10px;
}

.infoBaixo{
    display: flex;
    justify-content: space-between;
}

.card-text_complemento .compl{
    word-break: break-all;
    width: 230px;
}

.colunaImg{
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colunaImg img{
    margin: 10px;
    cursor: pointer;
}

.colunaImg img:hover{
    filter: brightness(70%);
}