/* Pesquisa */
.search{
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

#barraBusca{
  width: 680px;
  height: 45px;
  border: 1px solid #494949;
  border-radius: 5px 0 0 5px;
  z-index: 2;
}

.btnBuscar{
  width: 45px;
  height: 45px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 0 5px 5px 0px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.btnBuscar:hover{
  background: var(--tertiary-color);
  transition: .2s;
}

.btnBuscar img{
  height: 25px;
}

.filtro_listagens{
  position: relative;
}

.imgFilter{
  cursor: pointer;
}

.filtro_popover{
  display: none;
  border: 0;
  width: 165px;
  height: 92px;
  position: absolute;
}

.filtro_popover ul::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: -5px;
  z-index: -1;
  background: var(--second-grayscale);
  transform: rotate(45deg);
}

.filtro_popover ul li{
  display: flex;
  list-style: none;
  background: var(--second-grayscale);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.filtro_popover ul li:first-child{
  border-bottom: 2px solid var(--first-grayscale);
  border-radius: 10px 10px 0 0;
}
.filtro_popover ul li:last-child{
  border-radius: 0 0 10px 10px;
}

.filtro_popover ul li:active{
  background-color: var(--first-grayscale);
}

.filtro_popover ul li a{
  width: 100%;
  height: 45px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  line-height: 2.2;
  color: var(--light-color);
}

/* Cards */
.icons{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 2px solid var(--background-color);
  border-left: 2px solid var(--background-color);
}

.imgData:hover, .icons img:hover{
  filter: brightness(70%);
}

.caneta{
  height: 26px;
  cursor: pointer;
}

.lixeira{
  height: 26px;
  margin-left: 10px;
  cursor: pointer;
}

#status{
  background-color: var(--first-grayscale);
  padding: 0 10px;
  height: 45px;
  width: 383px;
  border-radius: 0 5px 0 0;
  cursor: pointer;
  box-shadow: none;
}

.cabecalho{
  padding: 0 10px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--background-color);
}

.card-title:nth-child(3){
  border-radius: 0 0 5px 0;
  border-left: 2px solid var(--background-color);
}