.search{
  margin-top: 4%;
}

#barraBusca{
  width: 735px;
  height: 45px;
  border: 1px solid #494949;
  border-radius: 10px;
}

.btn{
  width: 65px;
  height: 45px;
  position: relative;
  top: -1.5px;
  left: -70px;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 0 10px 10px 0px;
}

.btn:hover{
  background-color: #ff6600;
}

.pedidos{
  position: relative;
  margin-top: 5%;
  width: 1006px;
  border: 2px solid #333333;
  border-radius: 20px;
}

.nomeClie{
  margin: 5px 0;
  width: 50%;
  font-size: 20px;
}

.data{
  margin: 0;
  font-size: 20px;
}

.imgData{
  position: relative;
  margin-left: 10px;
}

.icons:after{
  content: " ";
  position: absolute;
  border: 1px solid #333333;
  height: 20%;
  left: 55%;
}

.caneta{
  position: relative;
  right: 10px;
  width: 30px;
  height: 30px;
}

.lixeira{
  position: relative;
  top: 1px;
  width: 35px;
  height: 35px;
}

.status{
  background-color: var(--first-grayscale);
  padding: 0 10px;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 5px 0 0;
}

.etapa{
  position: relative;
  font-size: 20px;
  margin: 0;
}

.etapaImg{
  position: relative;
}

.card-body{
  display: flex;
  min-height: 180px;
  justify-content: space-between;
  padding: 0;
}

.card-header{
  height: 45px;
  width: 100%;
  display: flex;
  background-color: var(--second-grayscale);
  color: var(--light-color);
  padding: 0;
}

.card-header .cabecalho{
  padding: 0 10px;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.card-header .cabecalho div{
  display: flex;
  align-items: center;
}

.card-title{
  color: var(--light-color);
  width: 35%;
  background-color: var(--second-grayscale);
  margin: 0;
  text-align: center;
}

.card-title h3{
  margin-top: 9px;
  height: 40px;
  line-height: 1.5;
  position: relative;
}

h3:before{
  content: "";
  position: absolute;
  border-bottom: 1px solid #333333;
  width: 100%;
  top: 50px;
  left: 0px;
  bottom:0;
}

.titulo:after{
  content: "";
  position: absolute;
  border: 1px solid #333333;
  height: 60px;
  left: -17px;
  top: -10px;
}

.divInfo:after{
  content: "";
  position: absolute;
  border: 1px solid #333333; 
  min-height: 120px;
  left: 318px;
  top: 105px;
} 

.divInfo2:after{
  content: "";
  position: absolute;
  border: 1px solid #333333; 
  min-height: 120px;
  left: 652px;
  top: 105px;
} 

.card-title:nth-child(1){
  border-radius: 0 0 0 5px;
}

.card-title:nth-child(3){
  border-radius: 0 0 5px 0 ;
}

.card-text{
  color: var(--light-color);
  width: 100%;
  font-size: 28px;
}

.cardInfo{
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}