/* CadPedido */
.content_form .divisoria::before{
  content: '';
  display: inline-block;
  margin: 0 10px 5px 0;
  width: 170px;
  height: 5px;
  background: var(--primary-color);
}

.content_form-cliente,
.content_form-pedido{
  margin-top: 20px;
  width: 750px;
  gap: 20px;
}
.content_form-cliente{
  width: 560px;
}

.content_form-cliente .nome{
  width: 100%;
}
.content_form-cliente .data{
  width: 45%;
}

/* Produto */
.produto_content{
  padding: 10px;
  width: 750px;
  height: 115px;
  border-radius: 10px;
  gap: 15px;
  background: rgba(27, 27, 27, 0.46);
}

.produto_input{
  width: 20%;
}

.produto_lixeira img{
  height: 25px;
  filter: invert(61%) sepia(52%) saturate(6983%) hue-rotate(360deg) brightness(100%) contrast(107%);
}

/* Btn Adicionar */
.produto_btn{
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  width: 240px;
  height: 45px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  color: var(--primary-color);
  transition: .5s;
}

.produto_btn-add{
  font-size: 1.7rem;
  line-height: 1;
}

.produto_btn:hover{
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--primary-color);
  color: var(--light-color);
  transition: ease .5s;
}