main{
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.filtro_listagens{
    position: relative;
}

.imgFilter{
    cursor: pointer;
}

.filtro_popover{
    display: none;
    border: 0;
    width: 165px;
    height: 92px;
    position: absolute;
}

.filtro_popover ul::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: -5px;
    z-index: -1;
    background: var(--second-grayscale);
    transform: rotate(45deg);
}

.filtro_popover ul li{
    display: flex;
    list-style: none;
    background: var(--second-grayscale);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.filtro_popover ul li:first-child{
    border-bottom: 2px solid var(--first-grayscale);
    border-radius: 10px 10px 0 0;
}
.filtro_popover ul li:last-child{
    border-radius: 0 0 10px 10px;
}

.filtro_popover ul li:active{
    background-color: var(--first-grayscale);
}

.filtro_popover ul li a{
    width: 100%;
    height: 45px;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    line-height: 2.2;
    color: var(--light-color);
}

/* CARDS */
.container_pedidos{
    margin-bottom: 70px;
}

.card-pedidos{
    margin: 10px;
}

.nomeClie{
    margin: 5px 0;
    width: 250px;
    font-size: 20px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.data{
    margin: 0;
    font-size: 20px;
}

.imgData{
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}
.imgData:hover{
    filter: brightness(70%);
}

.status{
    background-color: var(--first-grayscale);
    padding: 0 10px;
    width: 271px;
    display: flex;
    align-items: center;
    border-radius: 0 5px 0 0;
}

.status p{
    font-family: 'Mukta', sans-serif;
}

.etapa{
    position: relative;
    font-size: 20px;
    margin: 0;
}

.card-body{
    display: flex;
    width: 100%;
    min-height: 75px;
    justify-content: space-between;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-header{
    height: 45px;
    width: 100%;
    display: flex;
    background-color: var(--second-grayscale);
    color: var(--light-color);
    padding: 0;
    border-radius: 5px 5px 0 0!important;
}

.card-header .cabecalho{
    padding: 0 10px;
    width: 67%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--background-color);
}

.card-header .cabecalho div{
    display: flex;
    align-items: center;
}

.card-title{
    color: var(--light-color);
    width: 270px;
    background-color: var(--second-grayscale);
    margin: 0;
    text-align: center;
}

.card-title h3{
    height: 30px;
    line-height: 1.7;
    font-size: 17px;
    margin: 0;
}

.titulo{
    margin:0;
}

.card-title:nth-child(1){
    border-radius: 0 0 0 5px;
}

.card-title:nth-child(2){
    border-left: 2px solid var(--background-color);
}

.card-title:nth-child(3){
    border-radius: 0 0 5px 0 ;
    border-left: 2px solid var(--background-color);
}

.card-text{
    color: var(--light-color);
    font-size: 22px;
}

.cardInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  80px;
    border-top:  2px solid var(--background-color);
}

.cardInfoInner{
    width: 90%;
}

.imgModelo{
    border-radius: 5px;
    padding: 10px;
    height: 65px;
    width: 65px;
    background-color: #ffff;
}

.imgModelo img{
    height: 65px;
}

.cardInfoInner p{
    text-align: start;
    width: 140px;
}

.msg{
    font-weight:bold;
    color: var(--primary-color);
    display: flex;
    margin: 35px 10px; 
    font-size: 50px;
    word-break: break-all;
}

/* Modal */

.content_modal{
    display: flex;
    width: 980px;
    height: 463px;
    justify-content: space-between;
    background-color: var(--background-color);
    border-radius: 10px;
    position: relative;
    padding: 0 40px;
}

.container_modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background: var(--bg-input-color);
}

.parteEsq{
    position: relative;
    font-size: 24px;
}

.tituloEsq{
    color: var(--primary-color);
    border-bottom: 2px dashed #898989;
    margin: 35px 0;
    height: 45px;
    font-size: 34px;
}

.atributo{
    margin: 10px 0;
    color: var(--light-color);
}

.parteDir{
    display: flex;
    border-left: 2px dashed #898989;
    position: relative;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.etapas{
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
}

.linha{
    margin: 35px;
    background-color: #898989;
    width: 500px;
    height: 6px;
    border-color: #898989;
    border-style: none;
    position: relative;
    left: 25px;
}

.linhas{
    display: flex;
}

.circEtapas{
    margin: -10px;
    display: flex;
    justify-content: space-between;    
}

.circulo{   
    background-color:#898989;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.etapaPag p, .etapaArt p, .etapaProd p, .etapaEnvio p{
    color: #898989;
    font-size: 18px;
    margin-top: -4px;
}

.etapaArt p{
    margin-left: 10px;
}

.etapaProd p{
    margin-left: 35px;
}

.etapaEnvio p{
    margin-left: 35px;
}

.etapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.etapaPag{
    margin-left: 12px;
}

.etapaEnvio{
    margin-right: 15px;
}

#iconPag{
    background-image: url(../../Cliente/assets/img/fi-sr-dollar.svg);
    background-repeat: no-repeat;
    width: 61px;
    height: 64px;
    background-position: left 8px top 10px;
}

#iconArt{
    background-image: url(../../Cliente/assets/img/fi-sr-edit-alt.svg);
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
    background-position: left 15px top 10px;
}

#iconProd{
    background-image: url(../../Cliente/assets/img/fi-sr-settings.svg);
    background-repeat: no-repeat;
    width: 73px;
    height: 61px;
    background-position: left 35px top 10px;
}

#iconEnvio{
    background-image: url(../../Cliente/assets/img/Vector.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 61px;
    background-position: left 35px top 10px;
}

.fechar{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;  
}

.dirInferior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px dashed #898989;
    height: 200px;
}

.descEtapas{
    color: #A3A3A3;
    font-size: 20px;
    border-left: 5px solid #898989;
    left: 30px;
    top: -40px;
    position: relative;
}

.descEtapas p{
    margin: 0 10px;
}

.hrDt{
    display: flex;
    justify-content: space-between;
}

.endereco{
    height: 240px;
    width: 360px;
    border-left: 2px dashed #898989;
    padding: 0;
    padding-top: 20px;
    position: relative;
    left: -40px;
    top: 25px;
    display: flex;
    flex-direction: column;
} 

.infos{
    margin-left: 20px;
}

.endereco .infos h3 {
    margin: 2px;
    margin-right: 5px;
    color: var(--secondary-color);
    font-size: 22px;
}

.endereco .infos p {
    margin: 2px 2px;
    color: var(--light-color);
    font-size: 18px;
}

.ruaInfo, .numeroInfo, .bairroInfo, .cidadeInfo, .cepInfo, .complementoInfo{
    display: flex;
}

/* RASTREAMENTO */

/* ETAPA PAGAMENTO */
.estado1 #cirEtapaPag{
    background-color:#FFFFA1;
}

.estado1 #pPag{
    color:#FFFFA1;
}

.estado1 #iconPag{
    background-image: url(../../Admin/assets/icons/fi-sr-dollar.svg);
    background-repeat: no-repeat;
    width: 61px;
    height: 64px;
    background-position: left 8px top 10px;
}

/* ETAPA ARTE */

.estado2 #cirEtapaPag{
    background-color:#FFFFA2;
}

.estado2 #pPag{
    color:#FFFFA1;
}

.estado2 #cirEtapaArt{
    background-color:#FFFFA1;
}

.estado2 #linhaPA{
    background-color:#FFFFA1;
    width : 160px;
    height : 6px;
    position : relative;
    top : -5px;
}

.estado2 #pArt{
    color:#FFFFA1;
}

.estado2 #iconPag{
    background-image: url(../../Admin/assets/icons/fi-sr-dollar.svg);
    background-repeat: no-repeat;
    width: 61px;
    height: 64px;
    background-position: left 8px top 10px;
}


.estado2 #iconArt{
    background-image: url(../../Admin/assets/icons/fi-sr-edit-alt.svg);
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
    background-position: left 15px top 10px;
}

/* ETAPA PRODUÇÃO */
.estado3 #cirEtapaPag{
    background-color:#FFFFA3;
}

.estado3 #pPag{
    color:#FFFFA1;
}

.estado3 #cirEtapaArt{
    background-color:#FFFFA1;
}

.estado3 #linhaPA{
    background-color:#FFFFA1;
    width : 160px;
    height : 6px;
    position : relative;
    top : -5px;
}

.estado3 #pArt{
    color:#FFFFA1;
}


.estado3 #cirEtapaProd{
    background-color:#FFFFA1;
}

.estado3 #linhaAP{
    background-color: #FFFFA1;
    width: 160px;
    height: 6px;
    position: relative;
    left: 10px;
    top: -5px; 
}

.estado3 #pProd{
    color:#FFFFA1;
}


.estado3 #iconPag{
    background-image: url(../../Admin/assets/icons/fi-sr-dollar.svg);
    background-repeat: no-repeat;
    width: 61px;
    height: 64px;
    background-position: left 8px top 10px;
}


.estado3 #iconArt{
    background-image: url(../../Admin/assets/icons/fi-sr-edit-alt.svg);
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
    background-position: left 15px top 10px;
}

.estado3 #iconProd{
    background-image: url(../../Admin/assets/icons/fi-sr-settings.svg);
    background-repeat: no-repeat;
    width: 73px;
    height: 61px;
    background-position: left 35px top 10px;
}

/* ETAPA ENVIO */
.estado4 #cirEtapaPag{
    background-color:#FFFFA4;
}

.estado4 #pPag{
    color:#FFFFA1;
}

.estado4 #cirEtapaArt{
    background-color:#FFFFA1;
}

.estado4 #linhaPA{
    background-color:#FFFFA1;
    width : 160px;
    height : 6px;
    position : relative;
    top : -5px;
}

.estado4 #pArt{
    color:#FFFFA1;
}


.estado4 #cirEtapaProd{
    background-color:#FFFFA1;
}

.estado4 #linhaAP{
    background-color: #FFFFA1;
    width: 160px;
    height: 6px;
    position: relative;
    left: 10px;
    top: -5px; 
}

.estado4 #pProd{
    color:#FFFFA1;
}

.estado4 #cirEtapaEnvio{
    background-color:#FFFFA1;
}

.estado4 #linhaPE{
    background-color: #FFFFA1;
    width: 160px;
    height: 6px;
    position: relative;
    left: 10px;
    top: -5px; 
}

.estado4 #pEnvio{
    color:#FFFFA1;
}

.estado4 #iconPag{
    background-image: url(../../Admin/assets/icons/fi-sr-dollar.svg);
    background-repeat: no-repeat;
    width: 61px;
    height: 64px;
    background-position: left 8px top 10px;
}


.estado4 #iconArt{
    background-image: url(../../Admin/assets/icons/fi-sr-edit-alt.svg);
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
    background-position: left 15px top 10px;
}

.estado4 #iconProd{
    background-image: url(../../Admin/assets/icons/fi-sr-settings.svg);
    background-repeat: no-repeat;
    width: 73px;
    height: 61px;
    background-position: left 35px top 10px;
}

.estado4 #iconEnvio{
    background-image: url(../../Admin/assets/icons/Vector.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 61px;
    background-position: left 35px top 10px;
}