@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Mitr&family=Mukta:wght@300&display=swap");

:root {
  --primary-color   : rgb(255, 102, 0);
  --secondary-color : rgb(255, 255, 161);
  --tertiary-color  : rgba(226, 90, 0, 0.74);

  --background-color: rgb(51, 51, 51);

  --first-grayscale : rgb(37, 37, 37);
  --second-grayscale: rgb(73, 73, 73);

  --light-color     : rgba(255, 255, 255, 1);
  --input-color     : rgba(255, 255, 255, 0.4);
  --bg-input-color  : rgba(0, 0, 0, 0.425);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--background-color);
}

abbr[title]{
  text-decoration: none;
  cursor: pointer;
}

/* SCROLL */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-input-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--first-grayscale);
}

/* INPUTS PADRÃO */

option{
  font-family: "Mukta", sans-serif;
}

input,
select,
textarea {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  height: 40px;
  outline: none;
  font-family: "Mukta", sans-serif;
  font-size: 1.25rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--second-grayscale);
  color: var(--light-color);
}

input::-webkit-input-placeholder {
  font-size: 1.25rem;
  font-weight: 100;
  color: var(--input-color);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../Admin/assets/icons/angle-down.svg");
  background-position: 100%;
  background-size: 35px;
  background-repeat: no-repeat;
}

/* BACKGROUND MODAIS */
.blur{
  filter: blur(4px);
  z-index: -1;
}
.overflow{
  overflow: hidden;
}

/* HEADER */
header {
  padding: 15px 35px;
  width: 100%;
  background: var(--first-grayscale);
}

.menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

/* FOOTER */
footer{
  margin-top: 50px;
  padding: 30px 10px;
  width: 100%;
  background: var(--first-grayscale);
}

footer .title{
  font-size: 1.5rem;
  color: var(--primary-color);
}

.footer__content{
  margin: 10px 0;
}

.footer__content a{
  margin: 3px 0;
  text-decoration: none;
  color: var(--light-color);
}

.footer__content a i{
  margin-right: 2px;
  font-size: 20px;
  color: var(--primary-color);
}

.footer__content a:hover{
  color: var(--secondary-color);
}

.footer__container:nth-child(1){
  width: 50%;
}

.footer__container:nth-child(2) .footer__content a::before{
  content: '';
  display: inline-block;
  width: 5px;
  height: 15px;
  margin-right: 5px;
  background: var(--primary-color);
}

.footer__logo-leao{
  height: 120px;
}
.footer__logo{
  width: 110px;
}

/* Btn Cadastro */
.btn-default{
  margin: 20px 15px;
  margin-right: 0;
  border: 0;
  border-radius: 10px;
  width: 180px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--primary-color);
  color: var(--light-color);
  transition: .5s;
}

.btn-default:hover{
  background: var(--tertiary-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  transition: .5s;
}