.card{
    justify-content: center;
    background: #595959;
    width: 1005px;
    height: 476px;
    border-radius: 20px;
    margin-top: 9%;
    position: relative;
}

.img{
    position: relative;
    left: 1%;
}

.titulo{
    color: #F60;
    text-align: center;
    font-size: 64px;
    width: 60%;
    position: relative;
    top: -80%;
    left: 40%;
    text-shadow: 4px 2px 1px #9C2400;
}

.search{
    position: relative;
    top: -74%;
    left: 46%;
}

#barraBusca{
    width: 440px;
    height: 60px;
    border: 1px solid #494949;
    border-radius: 10px;
    font-size: 28px;
}
  
.btn{
    width: 73px;
    height: 73px;
    position: relative;
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 0 10px 10px 0px;
    top: 7px;
    left: -7%;
}