@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Mitr&family=Mukta:wght@300&display=swap");

:root {
  --primary-color: rgba(255, 102, 0, 1);
  --secondary-color: rgba(255, 255, 161, 1);
  --tertiary-color: rgba(226, 90, 0, 0.74);

  --background-color: rgb(51, 51, 51);

  --first-grayscale: rgb(37, 37, 37);
  --second-grayscale: rgb(73, 73, 73);

  --light-color: rgba(255, 255, 255, 1);
  --input-color: rgba(255, 255, 255, 0.4);
  --bg-input-color: rgba(0, 0, 0, 0.425);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
}

/* SCROLL */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-input-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--first-grayscale);
}

/* HEADER */
header {
  padding: 0 35px;
  width: 100%;
  height: 13vh;
  background: var(--first-grayscale);
}

.logo {
  height: 50px;
}

/* MENU */
.nav_items {
  min-width: 590px;
}
.nav_items li {
  list-style: none;
}

.nav_items li .item {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);
  transition: 0.5s;
}
.nav_items li .item:hover {
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15);
  color: var(--secondary-color);
  transition: ease 0.5s;
}

.nav_items li:nth-child(1n + 2) .item::before {
  content: "";
  display: inline-block;
  margin: 0 15px;
  width: 3px;
  height: 15px;
  background: var(--primary-color);
}

/* CSS PADRÃO DE INPUTS */
input,
select,
textarea {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  height: 40px;
  outline: none;
  font-family: "Mukta", sans-serif;
  font-size: 1.25rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--second-grayscale);
  color: var(--light-color);
}

input::-webkit-input-placeholder {
  font-family: "Mukta", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  color: var(--input-color);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../Admin/assets/icons/angle-down.svg");
  background-position: 100%;
  background-size: 35px;
  background-repeat: no-repeat;
}

/* Btn Adicionar */
.produto_btn {
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  min-width: 240px;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  color: var(--primary-color);
  transition: 0.5s;
}

.produto_btn-add {
  margin-left: 10px;
  font-size: 1.5rem;
  line-height: 0.9;
}

.produto_btn:hover {
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--primary-color);
  color: var(--light-color);
  transition: ease 0.5s;
}